.spinnerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1882fc;
    animation: dot 1s infinite;
}

@keyframes dot {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}